* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Work Sans';

}

.introduction {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    height: 80px;
    width: 100%;
}

.company-name {
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}

a:hover {
    background: gray;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

/* nav section end */

/* banner section start  */
.banner-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    text-align: center;


}

.digital-banner {
    width: 100%;
    margin: 0 auto;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    color: black;

}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    padding: 25px;
    width: 50%;
    margin: auto;
}

.banner-btn {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background-color: #FF900E;
    color: black;

}

.banner-img {
    width: 1100px;
    height: 550px;
    padding: 35px;
}

/*Feature section  start */
.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 75px;
}

.feature-box {
    display: flex;

}

.feature-team {
    padding: 10px;
    width: 220px;
    height: 220px;
}

.feature-heading {
    font-weight: bold;
    font-size: 35px;

}

.feature-heading-1st-style {
    color: #727272;
}

.feature-heading-2nd-style {
    color: #FF900E;
}

.feature-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.feature-btn {
    background: #FF900E;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    padding: 15px;
}

/*Feature section  end */

/* banner feature blog section start  */

.banner-feature-blog-section {
    display: flex;
    justify-content: space-evenly;
}

.banner-feature-left-side {
    padding-top: 300px;
    padding-left: 170px;

}

.banner-feature-right-side {
    padding-top: 90px;

}

.banner-feature-heading {
    font-weight: 700;
    font-size: 40px;
    color: #131313;
    padding: 5px 15px;
    border-left: 5px solid #FF900E;
}

.banner-feature-description {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    padding-top: 20px;

}

.banner-feature-blog {
    width: 440px;
    height: 131px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;

}

.banner-feature-blog-heading {
    font-weight: 600;
    font-size: 18px;
    color: #131313;
    padding-top: 15px;
    padding-left: 33px;
}

.banner-feature-blog-description {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    padding: 15px 33px;


}

.banner-feature-blog-btn {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: -100px;
    margin-left: 40px;
    padding: 20px 45px;
    padding-top: 25px;
}

.banner-feature-blog-btn-style {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;

}

/* banner feature blog section end  */

/* fact section */

.fact {
    padding: 100px 100px 10px 180px;

}

.fact-heading {
    font-weight: 700;
    font-size: 45px;
    color: #131313;

}

.fact-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* nav media query start*/

@media (max-width: 952px) {

    label.company-name {
        font-size: 25px;
        padding-left: 15px;

    }

    nav ul li a {
        font-size: 16px;
        overflow: scroll;
    }

}

@media (max-width: 896px) {
    .checkbtn {
        display: block;
        float: right;
        margin-right: 15px;

    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #98b3ce;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        overflow: scroll;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;


    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover {
        background: none;
        color: gray;
    }

    #check:checked~ul {
        left: 0;
    }
}

/* nav media query end*/

/* banner text media query start */

@media (max-width: 952px) {
    .banner-section {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 80px;


    }

    .digital-banner {
        width: 100%;
        margin: 0 auto;
    }

    .banner-title {
        font-size: 65px;
        font-weight: 700;
        color: black;

    }

    .banner-description {
        text-align: justify;
        font-size: 15px;
        font-weight: 400;
        color: #727272;
        padding: 25px;
        width: 50%;
        margin: auto;
    }

    .banner-btn {
        text-align: center;
        padding: 15px 30px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        margin: 5px;
        background-color: #FF900E;
        color: black;

    }

    .banner-img {
        width: 100%;
        height: 200px;
        padding: 35px;
    }
}

/* banner text media query end */

/* feature  section media query  start */
@media (max-width: 952px) {
    .feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-top: 75px;
    }

    .feature-box {
        display: flex;
        flex-direction: column;

    }

    .feature-team {
        padding: 10px;
        width: 220px;
        height: 220px;
    }

    .feature-right-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature-heading {
        width: 100%;
        font-weight: bold;
        font-size: 15px;
        text-align: center;

    }

    .feature-heading-1st-style {
        color: #727272;
    }

    .feature-heading-2nd-style {
        color: #FF900E;
    }

    .feature-description {
        text-align: justify;
        font-size: 15px;
        font-weight: 400;
        color: #727272;
        padding: 25px;
        width: 65%;
        margin: auto;
    }

    .feature-btn {
        background: #FF900E;
        border: none;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 400;
        color: white;
        padding: 15px;
    }

}

/* feature  section media query  end */

/* banner blog feature section media query start */

@media (max-width: 952px) {
    .banner-feature-blog-section {
        display: flex;
        flex-direction: column;

    }

    .banner-feature-left-side {
        padding-top: 100px;
        padding-left: 20px;

    }

    .banner-feature-right-side {
        padding-top: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



    }

    .banner-feature-heading {
        font-weight: 700;
        font-size: 30px;
        color: #131313;
        padding: 5px 5px;
        border-left: 5px solid #FF900E;
    }

    .banner-feature-description {
        font-weight: 200;
        font-size: 14px;
        color: #727272;
        padding-top: 20px;
        width: 60%;
        align-items: center;
        text-align: justify;

    }

    .banner-feature-blog {
        width: 80%;
        height: 161px;
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        margin-top: 20px;

    }

    .banner-feature-blog-heading {
        font-weight: 600;
        font-size: 18px;
        color: #131313;
        padding-top: 15px;
        padding-left: 33px;
    }

    .banner-feature-blog-description {
        font-weight: 400;
        font-size: 14px;
        color: #727272;
        padding: 15px 33px;


    }

    img {
        width: 90%;
    }

    .banner-feature-blog-btn {

        font-weight: 500;
        font-size: 40px;
        text-align: center;
        color: #FFFFFF;
        background-color: #FF900E;
        border: none;
        border-radius: 8px;
        margin-top: 40px;
        margin-left: 0px;
        padding: 10px 25px;
        padding-top: 10px;
    }

    .banner-feature-blog-btn-style {
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;

    }

}

/* banner blog feature section media query end  */


/* fact section media query start */

@media (max-width: 952px) {
    .fact {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 10px 10px 88px;


    }

    .fact-heading {
        font-weight: 700;
        font-size: 25px;
        color: #131313;
        width: 50%;
        

    }

    .fact-description {
        font-weight: 200;
        font-size: 14px;
        color: #727272;
        width: 60%;
        text-align: justify;
        padding-top: 10px;
    }
}