* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Work Sans';

}

.introduction {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    height: 80px;
    width: 100%;
}

.company-name {
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}

a:hover {
    background: gray;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

/* nav section end */

/* banner section start  */
.banner-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    text-align: center;


}

.digital-banner {
    width: 100%;
    margin: 0 auto;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    color: black;

}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    padding: 25px;
    width: 50%;
    margin: auto;
}

.banner-btn {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background-color: #FF900E;
    color: black;

}

.banner-img {
    width: 1100px;
    height: 550px;
    padding: 35px;
}

/*Feature section  start */
.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 75px;
}

.feature-box {
    display: flex;

}

.feature-team {
    padding: 10px;
    width: 220px;
    height: 220px;
}

.feature-heading {
    font-weight: bold;
    font-size: 35px;

}

.feature-heading-1st-style {
    color: #727272;
}

.feature-heading-2nd-style {
    color: #FF900E;
}

.feature-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.feature-btn {
    background: #FF900E;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    padding: 15px;
}

/*Feature section  end */

/* banner feature blog section start  */

.banner-feature-blog-section {
    display: flex;
    justify-content: space-evenly;
}

.banner-feature-left-side {
    padding-top: 300px;
    padding-left: 170px;

}

.banner-feature-right-side {
    padding-top: 90px;

}

.banner-feature-heading {
    font-weight: 700;
    font-size: 40px;
    color: #131313;
    padding: 5px 15px;
    border-left: 5px solid #FF900E;
}

.banner-feature-description {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    padding-top: 20px;

}

.banner-feature-blog {
    width: 440px;
    height: 131px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;

}

.banner-feature-blog-heading {
    font-weight: 600;
    font-size: 18px;
    color: #131313;
    padding-top: 15px;
    padding-left: 33px;
}

.banner-feature-blog-description {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    padding: 15px 33px;


}

.banner-feature-blog-btn {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: -100px;
    margin-left: 40px;
    padding: 20px 45px;
    padding-top: 25px;
}

.banner-feature-blog-btn-style {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;

}

/* banner feature blog section end  */

/* fact section */

.fact {
    padding: 100px 100px 10px 180px;

}

.fact-heading {
    font-weight: 700;
    font-size: 45px;
    color: #131313;

}

.fact-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}


/* history section */

.history {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 90px;

}

.company-history {
    width: 180px;
    height: 180px;
    border: 1px solid #FF900E;
    border-radius: 8px;


}

.company-history:hover {
    background-color: #98b3ce;
    transform: rotate(-360deg);
    transition: .05s;
    cursor: pointer;
}

.history-icon {
    padding-left: 69px;
    padding-top: 40px;
}

.history-desctiption {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: #424242;
}

.history-title {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: #727272;
}

/* sponsor section */

.sponsor-heading {
    padding-top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponsor-description {
    padding-top: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* sponsor img */

.sponsor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sponsor-img {
       padding: 20px;
}

.sponsor-logo {
    width: 170px;
    height: 170px;
    border: none;
    padding: 50px 30px;
}



/* footer section */

.copyright {
    width: 100%;
    height: 100px;
    border: none;
    background: #fff4e6;
    border-radius: 8px;
    margin-bottom: 15px;
}

.copyright-description {
    padding-top: 45px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #424242;
}


.information-part{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    height: 400px;
    background-color:#fff4e6;
    gap: 20px;
}

.sub-title {
    font-size: 25px;
    font-weight: 600px;
    padding-bottom: 10px;
    
}

.round-box{
    padding: 18px;
    background: none;
    border: 2px solid #424242;
    width:250px;
    border-radius: 8px;


}

.sub-btn {
    border-radius: 5px;
    width: 155.11px;
    height: 64px;
    margin-top: 31px;
    color:white;
    background-color: #FF900E;
    font-size: 18px;
    font-weight: 700px;
    border: none;
    
}


.contact-title{
    font-size:25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.contact-description{
    padding-bottom: 10px;
}

p{
    font-size:15px;
    font-weight: bold;
}







/* nav media query start*/

@media (max-width: 952px) {

    label.company-name {
        font-size: 25px;
        padding-left: 15px;

    }

    nav ul li a {
        font-size: 16px;
        overflow: scroll;
    }

}

@media (max-width: 896px) {
    .checkbtn {
        display: block;
        float: right;
        margin-right: 15px;

    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #98b3ce;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        overflow: scroll;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;


    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover {
        background: none;
        color: gray;
    }

    #check:checked~ul {
        left: 0;
    }
}



/* banner text media query start */

@media (max-width: 952px) {
    .banner-section {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 80px;


    }

    .digital-banner {
        width: 100%;
        margin: 0 auto;
    }

    .banner-title {
        font-size: 50px;
        font-weight: 700;
        color: black;

    }

    .banner-description {
        text-align: justify;
        font-size: 15px;
        font-weight: 400;
        color: #727272;
        padding: 25px;
        width: 70%;
        margin: auto;
    }

    .banner-btn {
        text-align: center;
        padding: 15px 30px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        margin: 5px;
        background-color: #FF900E;
        color: black;

    }

    .banner-img {
        width: 100%;
        height: 200px;
        padding: 35px;
    }
}



/* feature  section media query  start */
@media (max-width: 952px) {
    .feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-top: 75px;
    }

    .feature-box {
        display: flex;
        flex-direction: column;

    }

    .feature-team {
        padding: 10px;
        width: 220px;
        height: 220px;
    }

    .feature-right-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature-heading {
        width: 100%;
        font-weight: bold;
        font-size: 15px;
        text-align: center;

    }

    .feature-heading-1st-style {
        color: #727272;
    }

    .feature-heading-2nd-style {
        color: #FF900E;
    }

    .feature-description {
        text-align: justify;
        font-size: 15px;
        font-weight: 400;
        color: #727272;
        padding: 25px;
        width: 65%;
        margin: auto;
    }

    .feature-btn {
        background: #FF900E;
        border: none;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 400;
        color: white;
        padding: 15px;
    }

}



/* banner blog feature section media query start */

@media (max-width: 952px) {
    .banner-feature-blog-section {
        display: flex;
        flex-direction: column;

    }

    .banner-feature-left-side {
        padding-top: 100px;
        padding-left: 20px;

    }

    .banner-feature-right-side {
        padding-top: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



    }

    .banner-feature-heading {
        font-weight: 700;
        font-size: 30px;
        color: #131313;
        padding: 5px 5px;
        border-left: 5px solid #FF900E;
    }

    .banner-feature-description {
        font-weight: 200;
        font-size: 14px;
        color: #727272;
        padding-top: 20px;
        width: 60%;
        align-items: center;
        text-align: justify;

    }

    .banner-feature-blog {
        width: 80%;
        height: 161px;
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        margin-top: 20px;

    }

    .banner-feature-blog-heading {
        font-weight: 600;
        font-size: 18px;
        color: #131313;
        padding-top: 15px;
        padding-left: 33px;
    }

    .banner-feature-blog-description {
        font-weight: 400;
        font-size: 14px;
        color: #727272;
        padding: 15px 33px;


    }

    img {
        width: 90%;
    }

    .banner-feature-blog-btn {

        font-weight: 500;
        font-size: 40px;
        text-align: center;
        color: #FFFFFF;
        background-color: #FF900E;
        border: none;
        border-radius: 8px;
        margin-top: 40px;
        margin-left: 0px;
        padding: 10px 25px;
        padding-top: 10px;
    }

    .banner-feature-blog-btn-style {
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;

    }

}




/* fact section media query start */

@media (max-width: 952px) {
    .fact {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 10px 10px 88px;


    }

    .fact-heading {
        font-weight: 700;
        font-size: 25px;
        color: #131313;
        width: 80%;


    }

    .fact-description {
        font-weight: 200;
        font-size: 14px;
        color: #727272;
        width: 75%;
        text-align: left;
        padding-top: 10px;
    }
}

/* history media query  */

@media (max-width: 952px) {
    .history {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 90px;

    }

    .company-history {
        width: 70%;
        height: 280px;
        border: 1px solid #FF900E;
        border-radius: 8px;
        padding-top: -100px;


    }

    .company-history:hover {
        background-color: #98b3ce;
        transform: rotate(-360deg);
        transition: .05s;
        cursor: pointer;
    }

    .history-icon {
        padding-left: 20px;
        padding-top: -200px;
    }

    .history-desctiption {
        text-align: center;
        font-weight: 600;
        font-size: 30px;
        color: #424242;
    }

    .history-title {
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        color: #727272;
    }
}

/*  sponsor section */
@media (max-width: 952px) {
    .sponsor-heading {
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 45px;
        color: #131313;
    }

    .sponsor-description {
        width: 80%;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        color: #727272;
        padding-top: 10px;
        padding-left: 50px;
    }

}

/* sponsor img media */

@media (max-width: 952px) {
    .sponsor-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    
    .sponsor-img {
           padding: 10px;
           padding-left: 50px;
    }
    
    .sponsor-logo {
        width: 80%;
        height: 150px;
        border: none;
        padding: 50px 30px;
    }
    

}

/* contact section  */

@media (max-width: 952px){
       
    .information-part{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        border-radius: 8px;
        width: 100%;
        height: 600px;
        background-color:#fff4e6;
        gap: 0px;
    }
    
    .sub-title {
        font-size: 25px;
        font-weight: 600px;
        padding-bottom: 10px;
        
    }
    
    .round-box{
        padding: 18px;
        background: none;
        border: 2px solid #424242;
        width:250px;
        border-radius: 8px;
    
    
    }
    
    .sub-btn {
        border-radius: 5px;
        width: 155.11px;
        height: 64px;
        margin-top: 31px;
        color:white;
        background-color: #FF900E;
        font-size: 18px;
        font-weight: 700px;
        border: none;
        
    }
    
    
    .contact-title{
        font-size:25px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    
    .contact-description{
        padding-bottom: 10px;
    }
    
    p{
        font-size:15px;
        font-weight: bold;
    }
    

}



/* footer section */
@media (max-width: 952px) {
    .copyright {
        width: 100%;
        height: 100px;
        border: none;
        background: #fff4e6;
        border-radius: 8px;
        margin-left: 0px;
        margin-bottom: 15px;
    }

    .copyright-description {
        padding-top: 30px;
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #424242;
    }

}

